@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root{
    --main-color: #1C494B;
    --black:#212221;
    --bg:#0D0F0D;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; 
    padding:0;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
    outline: none; 
    border:none;
}

section{
  padding: 3rem 9%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}


header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: #aaaa solid 1px;
    padding:1.2rem 7%;
    background-color: transparent;
   
}
#menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }

.logo{
    font-size: 2.5rem;
    font-weight: bold;
}

header .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .8rem;
}

header .navbar a{
    margin:0 1rem;
    font-size: 1.8rem;
    color:#fff;
    display: inline-block;
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    
}

header .navbar a:hover{
    border-bottom: #fff solid 1px;
}


/* Banner começa aqui */
.banner{
    border-radius: 20px;
    width: 1780px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    display: flex;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("images/caverna.jpg") no-repeat;
    background: linear-gradient(rgba(136, 174, 209, 0.7), rgba(17, 17, 17, 0.7)), url("images/caverna.jpg") no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.banner .content{
    max-width: 60rem;
}


.banner .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.4;
    padding:1rem 0;
    color:#eee;
}

.banner h3{
    font-size: 6rem;
    color: #fff;
}

p{
    font-size: 2.4rem;
    font-weight: lighter;
    color:#eee;
    font-family: 'Poppins', sans-serif;
 
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 2.0rem;
    color: #ffffff;
    background: none;
    border: solid 2px #88AED1;
    border-radius: 10px;
    cursor: pointer;
}

/* Banner termina aqui */

.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: #222;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    padding: 3rem 2rem;
    
  }
  
  .book-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    
  }
  
  .book-form form .inputBox {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25rem;
    flex: 1 1 25rem;
    
  }
  
  .book-form form .inputBox span {
    font-size: 1.4rem;
    color: #aaa;
    
  }
  
  .book-form form .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: 0.2rem solid #88AED1;
    font-size: 1.6rem;
    color: #aaa;
    text-transform: none;
    background: none;
    margin-top: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .book-form form .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
     flex: 1 1 15rem;
  }


.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
  }
  
  .about .video-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
  }
  
  .about .video-container video {
    border-radius: 1rem;
    width: 100%;
  }
  
  .about .video-container .controls {
    text-align: center;
    padding: 2rem 0;
  }
  
  .about .video-container .controls span {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .7rem;
  }
  
  .about .video-container .controls span:hover {
    background: #88AED1;
  }
  
  .about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5rem;
  }
  
  .about .content span {
    color: #88AED1;
    font-size: 2rem;
  }
  
  .about .content h3 {
    color: #fff;
    font-size: 4rem;
    margin-top: .5rem;
  }
  
  .about .content p {
    padding: 2px;
    font-size: 1.4rem;
    color: #aaa;
  
  }
  
  .about .content .btn{
    margin-top: 10px;
  }

  .cards-viagens{
    height: 500px;
    width: 1770px;
    background: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* Conteudo do Cronometro */

.banner-cronometro {
  height: 300px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("images/banner-bg.jpg") no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("images/banner-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
}

.banner-cronometro .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-cronometro .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.banner-cronometro .content h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
}

.banner-cronometro .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.title{
  font-size: calc(7px + 1vw);
}

.countdown{
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

.countdown h1{
    font-size: calc(8px + 5vw);
    text-shadow: 0 0 10px whitesmoke;
}

/* Seção de destino */

.destination .box-container{
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
  /* grid-template-columns -> determina o numero das larguras de uma coluna */
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); 
  gap: 1.5rem;
}

.destination .box-container .box{
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box .image{
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;

} 

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.destination .box-container .box .content{
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content .stars{
  padding: 1.0rem;
}


.destination .box-container .box .content .stars{
  font-size: 1.7rem;
  color: var(--main-color);
}

.destination .box-container .box .content .price{
  color:#fff;
  font-size: 1.8rem;
  margin-top: 10px;
}

.destination .box-container .box .content .price span{ 
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.2rem;

}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #76dad8;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

/* Conteudo da galeria começa aqui */

.gallery .box-container {
  -webkit-columns: 3 25rem;
  columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem;

}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
   break-inside: avoid;
   background-color: #ffffff;
  
}

.gallery .box-container .box  {
  width: 450px;
  height: 450px;
  margin-bottom: 1rem;
  margin-left: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.gallery .box-container .box {
  font-size: 1.2rem;
  color: #000;
  
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 3.5rem;
  color: #000;
  text-align: center;
  margin-top: 20px;
  font-family: 'Ephesis', cursive;
}

.image-memories{
  height: 300px;
  width: 350px;
  margin-left: 50px;
  margin-top: 20px;
 
}

.gallery .heading h1 {
  color: #000;
}

.gallery .heading span {
  color: #000;
  
}

.scrolling-active{
  font-weight: bolder;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
  color: #000;
 
}

.scrolling-active a {
  color: #000 ;
}

.scrolling-active i {
  color: #000 ;
}

.scrolling-active .navbar a {
  color: #000;
  font-size: 2.1rem;
  transition: 1s;
}

.scrolling-active .navbar a:hover{
  border-bottom: #000 solid 1px;
}
.scrolling-active .btn{
  color: #000;
  font-weight: bolder;
  font-size: 1.8rem;
}

/* Conteudo da galeria encerra aqui */

/* Conteudo de contatos começa aqui */

.contact .row{
  display: flex;
  background:var(--black);
  flex-wrap: wrap;
  gap:1rem;
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex:1 1 45rem;
  padding:5rem 2rem;
  text-align: center;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  color:#fff;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background:var(--bg);
  border:var(--border);
}

.contact .row form .inputBox span{
  color:#fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input{
  width: 100%;
  padding:2rem;
  font-size: 1.7rem;
  color:#fff;
  text-transform: none;
  background:none;
}

.contact .row{
  display: flex;
  background:var(--black);
  flex-wrap: wrap;
  gap:1rem;
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex:1 1 45rem;
  padding:5rem 2rem;
  text-align: center;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  color:#fff;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background:var(--bg);
  border:var(--border);
}

.contact .row form .inputBox span{
  color:#fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input{
  width: 100%;
  padding:2rem;
  font-size: 1.7rem;
  color:#fff;
  text-transform: none;
  background:none;
}


.contact .button{
  width: 30%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #88AED1;
  font-size: 1.8rem;
  color: #fff;

  text-transform: none;
  background: none;
  margin-top: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact .button:hover{
  width: 200px;
  background-color: #88AED1;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

/* Conteudo de contatos termina aqui */

.modal-container{
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal{
  background: white;
  width: 35%;
  height: 35%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #88AED1;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

.fechar{
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 4px white;
  background: #88AED1;
  color: white;
  font-family: "PT Mono", monospace;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  cursor: pointer;
}

.modal-container input{
  width: 250px;
  color: #000;
  border: solid 1px #88AED1;
  height: 35px;
  background: none;
  text-indent: 1.2rem;
  margin: 10px;
  font-size: 1.7rem;
}

.modal-container.mostrar{
  display: flex;
}

.modal-container .button{
  width: 200px;
  height: 45px;
  background-color: #88AED1;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}

.modal-container .button:hover{
  width: 200px;
  height: 45px;
  background-color: #88AED1;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

.mostrar .modal {
  animation: modal .3s;
}

.modal-container h3{
  color: #88AED1;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 10px;
}

@keyframes modal {
  from{
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* Conteudo da modal encerra aqui */