@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#212221;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: #ffff;
    font-size: 1.7rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
       outline: none; 
    border:none;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}


header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: var(--border);
    padding:1.5rem 7%;
    background-color: #88AED1;
}

.logo-title{
    font-size: 1.4rem;
}

header .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
    display: inline-block;
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}


/* Banner começa aqui */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px;
}

.banner{
    border-radius: 25px;
    width: 1850px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("images/menu.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}


.home .content{
    max-width: 60rem;
}


.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

h3{
    font-size: 6rem;
}

p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}